
.playlist {
    text-align: center;
    padding: 10px;
    box-shadow: 0 .5rem 1rem rgba(171, 4, 255, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.176);
    border-radius: 10px;
    flex: 1;
    max-width: 300px;
    max-height: 500px;
    min-width: 300px;
    min-height: 500px;
    overflow-y: scroll;
    margin-top: 35px;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    background-color: rgba(238, 0, 255, 0.587);
}

.playlist::-webkit-scrollbar {
    display: none;
}