html {
    background: linear-gradient(45deg, rgb(25, 171, 134), rgba(122, 5, 238, 0.426));
    min-height: 100vh;
}

.App {
    background-color: rgba(0, 3, 3, 0.1);
    color: white;
    max-width: fit-content;
    margin: 10px auto;
    border-radius: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: larger;
}
.App h2 {
    text-align: center;
    padding-top: 25px;
    color: rgba(4, 17, 248, 0.814);
    background-color: rgba(0, 0, 0, 0.088);
    border-radius: 10px;
}

.App .playlistName {
    background: none;
    border: none;
    font-size: larger;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.App .playlistName:focus {
    outline: none;
}